@keyframes sizeSpin {
  from {
    transform: scale(.5, .5);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes smalltoNormal {
  from {
    transform: scale(.3, .3);
  }
  to {
    transform: scale(1, 1);
  }
}