.block-withbg{
  display: block;
  width: 100%;
  padding: 2.5rem 1.5rem 4rem;
  position: relative;
  overflow: hidden;
  @include linear-gradient(to right, $secondary-color, $primary-color);
  h2{
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}