.contact-page{
  .contact-header{
    position: relative;
    display: block;
    padding: 3rem 0 2.5rem;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    .breadcrumb {
      background: transparent;
      font-size: 18px;
      li{
        a{
          color: $secondary-color;
          &:hover{
            color: #fff;
          }
        }
      }
    }
    &::after {
      position: absolute;
      content: "";
      background: rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .container{
      position: relative;
      z-index: 1;
    }
    h1{
      text-transform: capitalize;
      font-weight: 500;
      font-size: 2.8rem;
    }
    @media only screen and (max-width: 579px){
      h1{
        font-size: 2.3rem;
      }
    }
  }
  .contact-content{
    padding: 4rem 0;
    h2{
      font-size: 1.5rem;
      color: $primary-color;
      padding-bottom: 2rem;
    }
    .contact-form {
      position: relative;
      background: #fff;
      input[type="text"] {
        display: block;
        height: 46px;
        margin-bottom: 32px;
        width: 100%;
        font-size: 14px;
        padding: 0 15px;
        border: 1px solid #e5e5e5;
        color: #878787;
        background: transparent;
        -webkit-appearance: none;
        border-radius: 0;
      }
      textarea {
        height: 202px;
        padding: 1rem;
        border: 1px solid #DEDEDE;
        margin-bottom: 0;
        font-size: 14px;
      }
      .form-full {
        width: 100%;
      }
    }
    .contact-info {
      margin: 0;
      background-color: #fff;
      .info {
        padding: 0;
        margin-bottom: 0 0 20px;
        li {
          list-style: none;
          border-bottom: 1px solid #eeeeee;
          overflow: hidden;
          padding: 15px 0;
          i{
            float: left;
            margin-right: 15px;
            font-size: 1.5rem;
            color: $primary-color;
            line-height: 1;
          }
          .content {
            display: table;
          }
          p {
            margin: 0;
            color: #696969;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}