.footer {
  background: #383838 url(../images/07.png);
  color: #fff;
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  h4 {
    font-weight: 500;
    text-transform: uppercase;
  }
  address {
    color: #fff;
    position: relative;
    padding-left: 2rem;
  }
  i{
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
  }
  a {
    position: relative;
    padding-left: 29px;
    text-transform: none;
    color: #fff;
  }
  .link-small{
    li {
      margin-bottom: 20px;
    }
  }
  .icons-hover-black {
    padding-top: 10px;
    a{
      margin-right: .5rem;
    }
    i {
      width: 2rem;
      height: 2rem;
      text-align: center;
      line-height: 30px;
      margin-bottom: 1rem;
      display: inline-block;
      margin-right: 1px;
      background: $secondary-color;
      color: #fff;
    }
  }
  .copyright {
    text-align: center;
    padding: 18px 0 10px;
    background: #333333 url(../images/07.png);
    position: relative;
    p{
      a {
        color: #fff;
      }
    }
  }
}
.footer-info .col-xs-12 {
  min-height: 200px;
}