@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue.otf')  format('opentype'),
  url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf')  format('truetype'), url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeue-Medium.otf')  format('opentype'),
  url('../fonts/HelveticaNeue-Medium.woff') format('woff'), url('../fonts/HelveticaNeue-Medium.ttf')  format('truetype'), url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}


html{
  font-size: 15px;
}
*{
  margin: 0;
  padding: 0;
  &:hover, &:focus{
    outline: none !important;
  }
}
body{
  line-height: 1.7;
  color: #323232;
  font-size: 15px;
  font-weight: 400;
  font-family: 'HelveticaNeue', sans-serif;
}
a{
  transition: .4s;
  color: #333;
  &:hover{
    text-decoration: none;
  }
}
i{
  transition: .4s;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.padding{
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

@for $i from 1 through 10 {
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }
  .mtmb-#{$i} {
    margin-top: #{$i}rem;
    margin-bottom: #{$i}rem;
  }
  .pd-#{$i} {
    padding: #{$i}rem;
  }
  .pt-#{$i} {
    padding-top: #{$i}rem;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}rem;
  }
  .ptpb-#{$i} {
    padding-top: #{$i}rem;
    padding-bottom: #{$i}rem;
  }

}

.color, .inner-intro .page-breadcrumb span {
  color: $primary-color;
}
.creative_heading{
  position: relative;
  h2 {
    font-size: 1.5rem;
    word-wrap: break-word;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    span {
      color: #222222;
    }
  }
  .header-line{
    height: 1px;
    background-color: #d0d0d0;
    position: absolute;
    top: .8rem;
    left: 14.5rem;
    right: 0;
  }
}

.btn-text, .btn-join {
  min-width: 10rem;
  margin: 0 5px;
  font-size: 14px;
  color: #fff;
  line-height: 41px;
  border: 2px solid $primary-color;
  padding: 0 22px;
  border-radius: 0;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: $primary-color;
  height: 3rem;
  text-align: center;
  transition: all 0.2s linear 0s;
  &:hover{
    background: #fff;
    color: $primary-color;
  }
}

.btn-join{
  background: $primary-color;
  color: #fff;
  margin: .5rem 0 0 1rem;
  &:hover{
    background: $secondary-color;
    border-color: $secondary-color;
    color: #fff;
  }
}

i.fa-facebook{
  &:hover{
    background-color: $facebook-color !important;
    color: #fff;
  }
}
i.fa-twitter{
  &:hover{
    background-color: $twitter-color !important;
    color: #fff;
  }
}
i.fa-youtube-play{
  &:hover{
    background-color: $youtube-color !important;
    color: #fff;
  }
}
i.fa-instagram{
  &:hover{
    background-color: $instagram-color !important;
    color: #fff;
  }
}
i.fa-linkedin{
  &:hover{
    background-color: $linkedin-color !important;
    color: #fff;
  }
}
i.fa-envelope{
  &:hover{
    background-color: $primary-color !important;
    color: #fff;
  }
}
.event-social{
  margin: .5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  li{
    a{
      i{
        width: 2.5rem;
        height: 2.2rem;
        line-height: 2.2rem;
        text-align: center;
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}

.load-more{
  button{
    display: block;
    margin: 3rem auto;
  }
}

.iframe-box{
  padding-top: 56.25%;
  position: relative;
  width: 100%;
  height: 17.4rem;
  iframe {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
  }
}
.not-found{
  padding: 1rem 0 2rem;
}