.top-block{
  background-color: #fff;
  color: #333;
  height: 50px;
  overflow: hidden;
  position: relative;

  &::before, &::after {
    background: $primary-color;
  }
  &::before{
    content: "";
    background: $primary-color;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    height: 100%;
    width: 79px;
    left: 47%;
    top: 0;
    position: absolute;
    @media only screen and (max-width: 991px){
      left: 37%;
    }
  }
  &::after {
    background: $primary-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    content: '';
    @media only screen and (max-width: 991px){
      width: 40%;
    }
  }
  .container {
    position: relative;
    z-index: 1;
  }
  p {
    margin: 0;
    font-size: 19px;
    color: #fff;
    text-transform: capitalize;
    line-height: 50px;
    @media only screen and (max-width: 659px){
      font-size: 15px;
    }
    @media only screen and (max-width: 659px){
      font-size: 15px;
    }
  }

    @media only screen and (max-width: 479px){
      .social-part{
        width: 100% !important;
      }
      .slogan-part{
        display: none;
      }
      &::before{
        left: 7%;
      }
      &::after {
        width: 11%;
      }
    }
    @media only screen and (max-width: 401px){
      &::before{
        left: 1%;
        width: 40px;
      }
      &::after {
        width: 6%;
      }
    }


  .social-link__block{
    a{
      i.fa {
        color: #333;
        display: inline-block;
        padding: 1rem;
        transition: transform 1.5s;
        &:hover{
          background-color: $primary-color;
          color: #fff;
        }
      }
      &.lang{
        padding: 1rem;
        @media only screen and (max-width: 690px){
          padding: .5rem;
        }
        &:hover{
          background-color: $primary-color;
          color: #fff;
        }
        &.second{
          &:hover{
            background-color: $secondary-color;
            color: #fff;
          }
        }
      }
      @media only screen and (min-width: 479px) and (max-width: 659px){
        i.fa-twitter{
          display: none;
        }
      }
      @media only screen and (min-width: 479px) and (max-width: 579px){
        i.fa-youtube-play{
          display: none;
        }
      }
      @media only screen and (max-width: 339px){
        i.fa-twitter{
          display: none;
        }
      }
      @media only screen and (max-width: 299px){
        i.fa-youtube-play{
          display: none;
        }
      }
    }
  }
}

.middel-part__block {
  background: #f3f3f5;
  position: relative;
  .logo{
    a {
      display: inline-block;
      padding: 20px 0;
      z-index: 9;
      img{
        max-width: 200px;
      }
    }
  }
  .top-info__block {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 22px;
    padding-top: 28px;
    ul {
      list-style: outside none none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        border-right: 1px solid #cfcfd0;
        padding-top: .5rem;
        i {
          color: $primary-color;
          font-size: 30px;
          height: 50px;
          left: 0;
          line-height: 50px;
          margin-top: -20px;
          position: absolute;
          text-align: center;
          top: 40%;
          width: 50px;
        }
        &:last-child{
          border-right: 0;
        }
        &.address{
          @media only screen and (max-width: 991px){
            display: none;
          }
        }
        &.phone{
          @media only screen and (max-width: 651px){
            display: none;
          }
        }
      }
      @media only screen and (max-width: 767px){
        display: none;
      }
    }
    p {
      margin-right: 15px;
      padding-left: 46px;
      text-align: left;
      font-size: 12px;
      color: #333;
      font-weight: bold;
      span {
        color: #676767;
        display: block;
        font-size: 12px;
      }
    }
    .menu-bar{
      display: none;
      i{
        font-size: 1.5rem;
      }
      @media only screen and (max-width: 767px){
        display: block;
      }
    }
    .btn-join{
      @media only screen and (max-width: 767px){
        display: none;
      }
    }
  }

}
#navbar{
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
  }
}
nav{
  &.navbar{
    padding: 0;
    border: none;
  }
  &.bootsnav {
    margin-bottom: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
    z-index: 9;
    .navbar-toggler{
      background-color: #fff;
      border: none;
      padding: 0;
      font-size: 18px;
      position: relative;
      top: 5px;
      display: none;
    }
  }
  @media only screen and (max-width: 767px){
    display: none;
  }
}
.nav{
  &.navbar-nav {
    float: none;
    li {
      position: relative;
      a{
        text-transform: uppercase;
        display: block;
        color: #333;
        font-size: 1rem;
        padding: 1.3rem 1.5rem;
        background-color: transparent;
        outline: none;
        margin-bottom: -2px;
        font-weight: 500;
        &.custom-btn {
          background: $primary-color;
          color: #fff;
          margin-top: 11px;
          padding: 10px 35px;
        }
        &:hover{
          background-color: $secondary-color;
          color: #fff;
          //margin-top: 11px;
          //padding: 10px 1.5rem;
        }
        @media only screen and (max-width: 1199px){
          padding: 1.3rem 1.3rem;
        }
        @media only screen and (max-width: 991px){
          padding: 1rem .6rem;
          font-size: .85rem;
        }
      }
      &:hover{
        .dropdown-menu {
          display: block;
        }
      }
      ul {
        border: none;
        border-top-color: $primary-color;
        border-right-color: $primary-color;
        border-bottom-color: $primary-color;
        border-left-color: $primary-color;
        background: none;
        border-bottom: 2px solid $primary-color;
        border-radius: 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position: absolute;
        padding: 0 0;
        top: 59px;
        width: 230px;
        li {
          border-bottom: 1px solid rgba(145, 145, 145, 0.44);
          display: block;
          background: #ffffff;
          position: relative;
          a {
            white-space: normal;
            display: block;
            margin: 0;
            color: #919191;
            padding: 13px 6px 13px 30px;
            position: relative;
            border: none;
            text-transform: uppercase;
          }
          ul.deep-menu{
            display: none;
            position: absolute;
            left: 230px;
            top: 0;
            li{
              a{
                padding: 11px 6px 11px 30px;
              }
            }
          }
          &:hover{
            .deep-menu {
              display: block;
            }
          }
        }
        @media only screen and (max-width: 991px){
          top: 50px;
        }
      }
    }
  }
}