.blog-section{
  position: relative;
  overflow: hidden;
  padding: 1rem 0;
  .blog-post {
    display: inline-block;
    width: 100%;
    .post-media {
      position: relative;
      overflow: hidden;
      margin: 0;
      img {
        display: block;
        transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
      }
      .event-calender {
        width: 3.5rem;
        height: 4rem;
        font-size: 1.2rem;
        padding-top: .4rem;
        z-index: 9;
        text-align: center;
        span {
          font-size: .7rem;
          color: #fff;
          display: block;
          text-transform: uppercase;
          margin-top: 0;
          margin-right: 0;
        }
      }
      &:hover{
        img {
          transform: scale(1.1);
          width: 100%;
        }
      }
    }
    .post_wrap {
      //padding: 1.6rem;
      padding: .8rem;
      border: 1px solid #f2f2f2;
      border-bottom: 2px solid $primary-color;
      .post-meta {
        text-transform: uppercase;
        color: #999;
        font-size: 13px;
        span {
          margin-right: 3px;
          a{
            i {
              color: $primary-color;
            }
          }
        }
      }
      .post-header{
        h4{
          //margin-top: .65rem;
          //margin-bottom: 1.3rem;
          margin: 0;
          font-size: 1.3rem;
          font-weight: 500;
          text-transform: capitalize;
          line-height: 1.5;
          height: 58px;
          overflow: hidden;
        }
      }
      .post-entry {
        margin-bottom: 2rem;
        height: 75px;
        overflow: hidden;
        p{
          margin-bottom: 1.3rem;
        }
      }
      .post-more-link {
        position: relative;
        z-index: 2;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}
.blog-date {
  position: absolute;
  bottom: 0;
  left: 0;
  background: $primary-color;
  color: #fff;
}