#instagram {
  line-height: 0;

  -webkit-column-count: 6;
  -webkit-column-gap:   0;
  -moz-column-count:    6;
  -moz-column-gap:      0;
  column-count:         6;
  column-gap:           0;
  img {
    width: 100% !important;
    height: auto !important;
  }
}