.fullpage-loader{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
  padding-top: 20%;
  .image {
    position: absolute;
    width: 4.2rem;
    height: 4.2rem;
    left: 50%;
    margin-left: -2.1rem;
    img{
      position: absolute;
      width: 100%;
      object-fit: cover;
      animation: sizeSpin 0.6s infinite linear;
    }
    .spin {
      position: relative;
      display: inline-block;
      width: 3rem;
      height: 3rem;
      margin: .6rem .6rem;
      border: 3px solid #34495e;
      border-radius: 100%;
      animation: spin 0.9s infinite linear;
      &::before, &::after {
        left: -0.2rem;
        top: -0.2rem;
        display: none;
        position: absolute;
        content: '';
        width: inherit;
        height: inherit;
        border: inherit;
        border-radius: inherit;
      }
    }
    .spinner,
    .spinner::before,
    .spinner::after {
      display: inline-block;
      border-color: transparent;
      border-top-color: white;
      animation-duration: .7s;
    }
    .spinner::before {
      transform: rotate(120deg);
    }
    .spinner::after {
      transform: rotate(240deg);
    }
  }
}