.mobile-menu{
  display: block;
  width: 17rem;
  max-width: 17rem;
  flex: 0 0 17rem;
  background-color: #fff;
  color: inherit;
  position: fixed;
  top: 0;
  left: -17rem;
  height: 100vh;
  z-index: 1000;
  overflow: auto;
  will-change: transform;
  transition: left .3s ease-in-out;
  -webkit-transition: left .3s ease-in-out;
  -moz-transition: left .3s ease-in-out;
  &.open{
    left: 0;
  }
  ul.mobile-nav{
    display: block;
    width: 100%;
    padding: 1rem 0;
    li{
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      a{
        display: block;
        width: 100%;
        line-height: 3rem;
        height: 3rem;
        padding-left: 1rem;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover{
          background-color: $primary-color;
          color: #fff;
        }
      }
      i{
        line-height: 3rem;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1080;
        &:hover{
          background-color: $primary-color;
          color: #fff;
        }
      }
      ul.submenu{
        display: none;
        width: 100%;
        background-color: $secondary-color;
        li{
          a{
            color: #fff;
          }
        }
        &.open{
          display: block;
        }
      }
    }
  }
  .btn-join{
    display: block;
    width: 5rem;
    margin: 1rem auto;
  }
}