.partners{
  h2{
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  margin-bottom: 3rem;
  .container{
    position: relative;
    .header-line{
      height: 1px;
      background-color: #d0d0d0;
      position: absolute;
      top: 2.2rem;
      left: 15.5rem;
      right: 0;
    }
  }
}