.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 42rem;
  overflow: hidden;
  white-space: nowrap;

  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .slide {
      display: inline-block;
      height: 100%;
      width: 100%;
      .caption{
        position: absolute;
        bottom: 10%;
        background: rgba(0, 0, 0, 0.58);
        padding: 1.5rem;
        width: 50rem;
        height: auto;
        animation: smalltoNormal 0.3s linear;
        p{
          color: #fff;
          font-size: 2rem;
          font-weight: 500;
          white-space: normal;
        }
      }
    }
  }
  @media only screen and (max-width: 1199px){
    height: 25rem;
  }
  @media only screen and (max-width: 991px){
    height: 20rem;
    .slider-wrapper{
      .slide {
        .caption{
          padding: 1rem;
          width: 40rem;
          p{
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 767px){
    height: 18rem;
    .slider-wrapper{
      .slide {
        .caption{
          padding: .8rem;
          width: 35rem;
          p{
            font-size: 1rem;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 579px){
    .slider-wrapper{
      .slide {
        .caption{
          width: 30rem;
          padding: .5rem;
          p{
            font-size: .8rem;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 479px){
    .slider-wrapper{
      .slide {
        .caption{
          width: 25rem;
        }
      }
    }
  }
  @media only screen and (max-width: 379px){
    .slider-wrapper{
      .slide {
        .caption{
          width: 20rem;
        }
      }
    }
  }
  @media only screen and (max-width: 319px){
    .slider-wrapper{
      .slide {
        .caption{
          width: 18rem;
        }
      }
    }
  }
}

.slider-right-arrow, .slider-left-arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: transform ease-in .1s;
  i{
    color: #fff;
    opacity: .5;
    transition: .5s;
  }

  &:hover {
    i{
      opacity: .9;
    }
  }
  @media only screen and (max-width: 768px){
    height: 2rem;
    width: 2rem;
    i{
      font-size: .9rem;
    }
  }
}

.slider-right-arrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;
}

.slider-left-arrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;
}

.dots-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
  padding: 5px 0;

  .dot {
    background: rgba(0, 0, 0, .5);
    display: inline-block;
    padding: .5rem;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
    @media only screen and (max-width: 768px){
      padding: .3rem;
    }
  }
  .active {
    background: rgba(255, 255, 255, .8);
  }
}
