.static-page{
  .static-header{
    position: relative;
    display: block;
    padding: 9rem 0 8rem;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    .breadcrumb {
      background: transparent;
      font-size: 18px;
      li{
        a{
          color: $secondary-color;
          &:hover{
            color: #fff;
          }
        }
      }
    }
    &::after {
      position: absolute;
      content: "";
      background: rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .container{
      position: relative;
      z-index: 1;
    }
    h1{
      text-transform: capitalize;
      font-weight: 500;
      font-size: 2.8rem;
    }
    @media only screen and (max-width: 1199px){
      padding: 6rem 0 5rem;
    }
    @media only screen and (max-width: 767px){
      padding: 4rem 0 3rem;
      h1{
        font-size: 2.3rem;
      }
    }
    @media only screen and (max-width: 380px){
      padding: 3rem 0 2rem;
      h1{
        font-size: 2rem;
      }
    }
  }
  .static-content{
    padding:4rem 0;
    ul{
      padding-left: 2rem;
      list-style: square;
    }
    ul.meta-fields{
      display: flex;
      justify-content: flex-end;
      list-style: none;
      padding: .5rem 0;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }

  }
}