.team-page{
  .team-header{
    position: relative;
    display: block;
    padding: 3rem 0 2.5rem;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    .breadcrumb {
      background: transparent;
      font-size: 18px;
      li{
        a{
          color: $secondary-color;
          &:hover{
            color: #fff;
          }
        }
      }
    }
    &::after {
      position: absolute;
      content: "";
      background: rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .container{
      position: relative;
      z-index: 1;
    }
    h1{
      text-transform: capitalize;
      font-weight: 500;
      font-size: 2.8rem;
    }
    h2{
      font-size: 1.4rem;
      font-weight: 400;
      margin-top: 0;
    }
    @media only screen and (max-width: 579px){
      h1{
        font-size: 2.3rem;
      }
      h2{
        font-size: 1.2rem;
      }
    }
  }
}
.member-list{
  padding:4rem 0;
}
.member-content{
  padding:4rem 0;
  .member-left{
    border: 1px solid #e9e9e9;
    .member-social{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem;
      li{
        a{
          i{
            padding: .5rem 1rem;
          }
        }
      }
    }
  }
}

.people-card{
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 200%;
    z-index: 2;
    background: rgba(52, 101, 170, 0.8);
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    top: 60%;
    left: -90%;
    -webkit-transition: all 0.7s cubic-bezier(0.19, 0.63, 0, 1.2);
    -moz-transition: all 0.7s cubic-bezier(0.19, 0.63, 0, 1.2);
    -ms-transition: all 0.7s cubic-bezier(0.19, 0.63, 0, 1.2);
    -o-transition: all 0.7s cubic-bezier(0.19, 0.63, 0, 1.2);
    transition: all 0.7s cubic-bezier(0.19, 0.63, 0, 1.2);
  }
  img {
    width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
  }
  .item-title {
    text-align: left;
    width: 100%;
    position: absolute;
    left: 30px;
    z-index: 6;
    bottom: 5%;
    color: #ffffff;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    .title {
      margin-bottom: 0;
      a{
        color: #ffffff;
      }
    }
  }
  .item-social {
    position: absolute;
    left: -100%;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    bottom: 5%;
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
    transform: translateY(-5%);
    -webkit-transition: all 1s cubic-bezier(0, 0, 0.25, 1.38);
    -moz-transition: all 1s cubic-bezier(0, 0, 0.25, 1.38);
    -ms-transition: all 1s cubic-bezier(0, 0, 0.25, 1.38);
    -o-transition: all 1s cubic-bezier(0, 0, 0.25, 1.38);
    transition: all 1s cubic-bezier(0, 0, 0.25, 1.38);
    ul{
      li {
        display: inline-block;
        font-size: 20px;
        a {
          color: #fff;
          i{
            padding: .5rem 1rem;
          }
        }
      }
    }
  }
  &:hover{
    img {
      transform: scale(1.1);
    }
    &:before {
      -webkit-transform: rotate(20deg);
      -moz-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
      transform: rotate(20deg);
      top: 40%;
      left: -90%;
    }
    .item-title {
      bottom: 17%;
      -webkit-transition: all 0.8s ease-out;
      -moz-transition: all 0.8s ease-out;
      -ms-transition: all 0.8s ease-out;
      -o-transition: all 0.8s ease-out;
      transition: all 0.8s ease-out;
    }
    .item-social {
      left: 0;
      right: 0;
      opacity: 1;
      visibility: visible;
    }
  }
}